<p id="notice"><%= notice %></p>

<p>
  <strong>Short Url:</strong>
  <%= @access.short_url_id %>
</p>

<p>
  <strong>Access time:</strong>
  <%= @access.access_time %>
</p>

<p>
  <strong>Ip addr:</strong>
  <%= @access.ip_addr %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
